# Operating System folders and files for ignore
desktop.ini

# Personal folders and files for ignore
_Pending
Tools.bat

# Altium Designer folders and files for ignore
__Previews
History

# Proteus folders and files for ignore
Project Backups
*.workspace
*.BMP

# BascomAVR folders and files for ignore
*.bin
*.BM
*.dbg
*.obj
*.rpt

# CodeVisionAVR folders and files for ignore
Debug
Linker
List
Obj
*.cfg
*.cbi
*.cof
*.elf
*.fct
*.prj~
*.rom
Main.txt
*.c~
*.cci
*.i
*.h~
*.hci
